@using DiscosRamirezFranzJosue.Utils
@using DiscosRamirezFranzJosue.Models
@model IEnumerable<Disco>

@{
  ViewBag.Title = "Nuestros discos";
  var idInterprete = ViewData["interpreteSelected"];
  var idTipoDisco = ViewData["tipoDiscoSelected"];
}

<h2>Listado de discos</h2>
<hr />

@Html.Action("FilterDiscos", new { idInterprete, idTipoDisco })
@Html.ActionLink("Crear Disco", "Create", null, new { @class = "btn btn-outline-primary mb-3" })

<div class="card-columns">
  @foreach (Disco item in Model)
  {
    <div class="card border-dark">
      @if (!System.IO.File.Exists(Url.Content($"~/Content/images/music-disc/{item.IdDisco}.jpg")))
      {
        <img src="@Url.Content("~/Content/images/music-disc/default.jpg")" class="card-img-top" alt="imagen del disco">
      }
      else
      {
        <img src="@Url.Content($"~/Content/images/music-disc/{item.IdDisco}.jpg")" class="card-img-top" alt="imagen del disco">
      }
      <div class="card-body">
        <h5 class="card-title text-hide">@Html.Raw(item.IdDisco)</h5>
        <p class="card-text">@Html.Raw(item.Titulo) - @Html.Raw(item.Interprete.Interprete1)</p>
        <p class="card-text"><small class="text-muted">Año - @Html.Raw(item.Agno)</small></p>
        <div class="btn-group">
          <button type="button" class="btn btn-outline-primary">Opciones</button>
          <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            @Html.ActionLink("Editar", "Edit", new { IdDisco = item.IdDisco }, new { @class = "dropdown-item" })
            @Html.ActionLink("Detalles", "Details", new { IdDisco = item.IdDisco }, new { @class = "dropdown-item" })
            @Html.ActionLink("Eliminar", "Delete", new { IdDisco = item.IdDisco }, new { @class = "dropdown-item" })
            @if (User.Identity.IsAuthenticated)
            {
              if (Session.IsAdmin("USUARIO"))
              {
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Agregar Imagen", "UploadImage", new { IdDisco = item.IdDisco }, new { @class = "dropdown-item" })
              }
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>

