@using DiscosRamirezFranzJosue.Models
@model Disco

@{
  ViewBag.Title = "Crear Disco";
  IEnumerable<Interprete> listaInterpretes = ViewData["interpretesLista"] as IEnumerable<Interprete>;

}

<h2>Crear Disco</h2>

@using (Html.BeginForm())
{

  <div class="form-horizontal">
    <hr />
    <div class="form-group">
      @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" } )
      <div class="col-md-10">
        @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.Agno, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.EditorFor(model => model.Agno, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Agno, "", new { @class = "text-danger" })
      </div>
    </div>

    <div class="form-group">
      @Html.LabelFor(model => model.IdInterprete, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
        @Html.DropDownList("IdInterprete", listaInterpretes.Select(x => new SelectListItem { Text = x.Interprete1, Value = x.IdInterprete.ToString() }),        
        new { @class = "custom-select", @Name = "IdInterprete", @id = "IdInterprete" })       
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Crear disco" class="btn btn-outline-primary" />
      </div>
    </div>
  </div>
}

