@using DiscosRamirezFranzJosue.Models
@model IEnumerable<Disco>

@{
  ViewBag.Title = "Nuestros discos";
  var idInterprete = ViewData["interpreteSelected"];
  var idTipoDisco = ViewData["tipoDiscoSelected"];
}

<h2>Listado de discos</h2>
<hr />

@Html.Action("FilterDiscos", new { idInterprete, idTipoDisco })

<div class="card-columns">
  @foreach (Disco item in Model)
  {
    <div class="card border-dark">
      <img src="@Url.Content("~/Content/images/music-disc/default.jpg")" class="card-img-top" alt="imagen del disco">
      <div class="card-body">
        <h5 class="card-title text-hide">@Html.Raw(item.IdDisco)</h5>
        <p class="card-text">@Html.Raw(item.Titulo) - @Html.Raw(item.Interprete.Interprete1)</p>
        <p class="card-text"><small class="text-muted">Año - @Html.Raw(item.Agno)</small></p>
      </div>
    </div>
  }
</div>


